body {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

main {
    padding: 16px;
}

main > div {
    display: grid;
    grid-template-columns: auto auto auto auto;


}

header {
    background-color: rgb(255, 55, 0);
}

a {
    font-weight: bold;
    color: rgb(106, 171, 9);
    text-decoration: none;
}

h1 {
    font-weight: bold;
    color: rgb(106, 171, 9);
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
    background-color: rgb(139, 185, 103);
}

footer > div {
    padding-left: 16px;
}

img {
    height: 200px;
}

nav {
    border-bottom-style: 1px solid black;
    padding: 16px;
}

p {
    margin-bottom: 0;;
}

.iswhite {
    color: white;
}

main table tbody tr:nth-child(even) {
    background-color: lightgrey;
}

body header nav a {
    color: white;
}
